<br>
<br>
<br>
<br>
<br>

<div class="container">
  <div class="row">
    <div class="col">
      <div class="imgFonts">
        
        <p>Residuos aprovechables</p>
      </div>
      <button id="imag" type="submit" class="btnWhite btn-primary btn-lg" (click)="aprovechables()"><img id="imagen"/></button>
    </div>
    <br>
    <div class="col">
      <div class="imgFonts">
        <p>Residuos no aprovechables</p>
      </div>
      <button type="submit" class="btnGreen btn-primary btn-lg"(click)="noAprovechables()"><span class="image"></span></button>
    </div>
    <br>
    <div class="col">
      <div class="imgFonts">
        <p>Residuos Orgánicos</p>
      </div>
      <button type="submit" class="btnBlack btn-primary btn-lg"(click)="organic()"><span class="image"></span></button>
    </div>
    
  </div>
  <br>
  <br>
  <br>
  <br>
  <!-- <footer>
    <a class="Foo">Juan Pablo Ramirez, Juan Pablo Guarín, Oscar Yesid Restrepo, Oswaldo Alzate Franco</a>
  </footer> -->
  <br>
  <br>
</div>

