
.header-logo{
    width: 600px;
    flex-wrap: wrap;
    overflow-y: hidden;
    height: 40px;
    font-family: 'Bangers', cursive;
    font-size: xx-large;
    text-align: center;

}

.colored{
    background: Yellowgreen;
    position: fixed;
    padding: 20px 0 !important;
    background-color: #199fd4;
}

.imgFonts{
    font-family: 'Bangers', cursive;
    font-size: 30px;
    background-image:url('../../../assets/img/background-fonts.jpg');
}

.col {

    text-align: center;
    justify-content: center;
}
.btnInfo{
    font-family:'Roboto Mono', monospace;
    border-style: initial;
}
.btnGlass{
  background-color:LightGray;
  font-family: 'Roboto Mono', monospace;
  font-size: xx-large;
  border-style: none;
  color: white;
  height:200px ;
  width:200px ;
  background-image:url('../../../assets/img/caneca-azul.png') ;
}
.btnPapers{
  background-color: LightGray;
  font-family: 'Roboto Mono', monospace;
  font-size: xx-large;
  border-style: none;
  color: white;
  height:200px ;
  width:200px ;
  background-image:url('../../../assets/img/caneca-cafe.png') ;
}
.btnOrganic{
    background-color: LightGray;
    font-family: 'Roboto Mono', monospace;
    font-size: xx-large;
    border-style: none;
    color: white;
    height:200px ;
    width:200px ;
    background-image:url('../../../assets/img/caneca-naranja.png');
}
.btnWhite{
    background-color: LightGray;
    font-family: 'Roboto Mono', monospace;
    font-size: xx-large;
    border-style: none;
    color: white;
    height:200px ;
    width:200px ;
    background-image:url('../../../assets/img/caneca-blanca.png');
}
.btnBlack{
    background-color: LightGray;
    font-family: 'Roboto Mono', monospace;
    font-size: xx-large;
    border-style: none;
    color: white;
    height:200px ;
    width:200px ;
    background-image:url('../../../assets/img/caneca-negra.png');
}
.btnYellow{
    background-color: LightGray;
    font-family: 'Roboto Mono', monospace;
    font-size: xx-large;
    border-style: none;
    color: white;
    height:200px ;
    width:200px ;
    background-image:url('../../../assets/img/caneca-amarilla2.png');
}

