
.header-logo[data-v-e92427d2] {
    width: 280px;
    flex-wrap: wrap;
    overflow-y: hidden;
    height: 28px;
}
.colored[data-v-e92427d2] {
    background: Yellowgreen;
    position: fixed;
    padding: 20px 0 !important;
}

p{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 23px;
}

.col {

    text-align: center;
    justify-content: center;
}

.btnGlass{
  border-color:blue;
  font-family: 'Roboto Mono', monospace;
  font-size: xx-large;
  border-style: none;
  color: white;
  height:200px ;
  width:200px ;
  background-image:url('../../../assets/img/caneca-azul.png') ;
}
.btnPapers{
  background-color:brown;
  font-family: 'Roboto Mono', monospace;
  font-size: xx-large;
  border-style: none;
  color: white;
  height:200px ;
  width:200px ;
  background-image:url('../../../assets/img/caneca-roja.png') ;
}
.btnOrganic{
    background-color: darkgreen;
    font-family: 'Roboto Mono', monospace;
    font-size: xx-large;
    border-style: none;
    color: white;
    height:200px ;
    width:200px ;
    background-image:url('../../../assets/img/caneca-cafe.png');
}

