
.header-logo{
    width: 600px;
    flex-wrap: wrap;
    overflow-y: hidden;
    height: 40px;
    font-family: 'Bangers', cursive;
    font-size: xx-large;
    text-align: center;
    color:black;


}
.Foo{
  font-size: xx-large;
  font-family: 'Bangers', cursive;
  text-align: center;
  align-items: center;
}

footer {
    // background-image:url('../../../assets/img/backgroundLabels4.jpg');
    background-color: #199fd4;
    position: absolute;
    bottom: 0;
    width: 80%;
    height: 40px;
    text-align: center;

}

.buttonPosition{
    text-align:center bottom;
}
.colored{
    background: Yellowgreen;
    position: fixed;
    color: black;
    padding: 20px 0 !important;
    // background-image:url('../../../assets/img/backgroundLabels4.jpg');
    background-color: #199fd4;
}

.imgFonts{
    font-family: 'Bangers', cursive;
    font-size: 30px;
    // background-image:url('../../../assets/img/background-fonts.jpg');
}

.col {

    text-align: center;
    justify-content: center;
}

.btnGreen{
    background-color:LightGray;
    font-family: 'Roboto Mono', monospace;
    font-size: xx-large;
    border-style: none;
    color: white;
    height:200px ;
    width:200px ;
    background-image:url('../../../assets/img/caneca-verde.png') ;
}

.btnWhite{
    background-color: LightGray;
    font-family: 'Roboto Mono', monospace;
    font-size: xx-large;
    border-style: none;
    color: white;
    height:200px ;
    width:200px ;
    background-image:url('../../../assets/img/caneca-blanca.png');
}
.btnBlack{
    background-color: LightGray;
    font-family: 'Roboto Mono', monospace;
    font-size: xx-large;
    border-style: none;
    color: white;
    height:200px ;
    width:200px ;
    background-image:url('../../../assets/img/caneca-negra.png');
}


