
<div data-v-e92427d2="" class="wm-main-div w-100 d-flex align-items-center justify-content-center pt-40 z-index-200 menu colored"><div data-v-e92427d2="" class="wm-container container d-flex align-items-center text-white"><div data-v-e92427d2="" class="header-logo d-flex align-items-center"><a data-v-e92427d2="" class="header-logo__com d-flex align-items-center"><img data-v-e92427d2=""class="logo">¡DALE UN MINUTO AL PLANETA!<span data-v-e92427d2="" class="pl-5 header-logo-com__toggle fw-300 fs-15 d-none text-uppercase">
</span></a> <a data-v-e92427d2="" href="https://www.hostinger.co/tutoriales" class="pl-5 header-logo__blog fw-300 fs-15 opacity-6 text-uppercase">
</a></div> <ul data-v-e92427d2="" class="ml-auto d-none d-xl-flex fw-500 align-items-center"><li data-v-e92427d2="" class="mr-15 ml-15"><div data-v-4891796e="" data-v-e92427d2="" class="position-relative"><a data-v-4891796e="" class="d-flex align-items-center cursor-pointer hover-opacity-6">H
<i data-v-4891796e="" class="ml-5 material-icons"></i></a> <!----></div></li><li data-v-e92427d2="" class="mr-15 ml-15"><div data-v-4891796e="" data-v-e92427d2="" class="position-relative"><a data-v-4891796e="" class="d-flex align-items-center cursor-pointer hover-opacity-6">V
<i data-v-4891796e="" class="ml-5 material-icons"></i></a> <!----></div></li><li data-v-e92427d2="" class="mr-15 ml-15"><div data-v-4891796e="" data-v-e92427d2="" class="position-relative"><a data-v-4891796e="" class="d-flex align-items-center cursor-pointer hover-opacity-6">d

<!----></a></div></li></ul> <div data-v-e92427d2="" class="ml-xl-auto ml-0 d-xl-none d-flex order-4 order-xl-3"><i data-v-e92427d2="" class="material-icons mb-0 cursor-pointer hover-opacity-6 d-xl-none">
menu
</i> <!----></div> <a data-v-e92427d2="" href="/cart" class="ml-auto ml-xl-0 d-flex order-3 order-xl-4 cursor-pointer transition-3 hover-opacity-6"><i data-v-e92427d2="" class="material-icons">
</i> <!----></a></div></div>
<br>
<br>
<br>
<br>


<div class="container">
    <div class="row">
      <div class="col">
        <div class="imgFonts">
        <p>Vidrios</p>
        </div>
          <button id="imag" type="submit" class="btnGlass btn-primary btn-lg" (click)="glass()"><img id="imagen"/></button>
        </div>
      <br>
        <div class="col">
          <div class="imgFonts">
          <p>Papeles</p>
          </div>
            <button type="submit" class="btnPapers btn-primary btn-lg"(click)="glass()"><span class="image"></span></button>
        </div>
        <br>
        <div class="col">
          <div class="imgFonts">
          <p>Desechos Orgánicos</p>
          </div>
          <button type="submit" class="btnOrganic btn-primary btn-lg"(click)="glass()"><span class="image"></span></button>
        </div>
    </div>
    <br>
    <br>
    <div class="row">
      <div class="col">
        <div class="imgFonts">
        <p>Blanco</p>
        </div>
          <button id="imag" type="submit" class="btnWhite btn-primary btn-lg" (click)="glass()"><img id="imagen"/></button>
        </div>
      <br>
      <div class="col">
        <div class="imgFonts">
        <p>Amarillo</p>
        </div>
        <button type="submit" class="btnYellow btn-primary btn-lg"(click)="glass()"><span class="image"></span></button>
      </div>
        <div class="col">
          <div class="imgFonts"> 
          <p>Negro</p>
          </div>
            <button type="submit" class="btnBlack btn-primary btn-lg"(click)="glass()"><span class="image"></span></button>
        </div>
    </div>
</div>
